RewriteEngine On

RewriteRule   ^$                index.php               [L]


#FUNCIONALIDADES
RewriteRule   ^publicar/$				/publicar/index.php [L]
RewriteRule   ^anuncio/$				/anuncio/index.php [L]
RewriteRule   ^cuenta/$					/cuenta/index.php [L]
RewriteRule   ^conversaciones/$				/conversaciones/index.php [L]






#LAS TIENDAS
RewriteRule ^tiendas/$						tiendasX.php [L]
RewriteRule ^tiendas/([0-9]+)/$					tiendasX.php?cat=$1 [L]
RewriteRule ^([a-zA-Z0-9]*)/$					tienda.php?tienda=$1 [L]
RewriteRule ^([a-zA-Z0-9]*)/([0-9]+)/$ 				tienda.php?tienda=$1&cat=$2 [L]



#ANUNCIOS
RewriteRule   ^([a-zA-Z0-9-ñÑ]+)-anuncio-([0-9]+)$ 			/anuncio/index.php?id=$2		[L]

#CONVERSACIONES
RewriteRule   ^([a-zA-Z0-9-ñÑ]+)-conversacion-([0-9]+)$ 		/conversaciones/conversacion.php?id_con=$2		[L]



#CATEGORIAS
RewriteRule   ^(([a-zA-Z0-9-ñÑ]+)-cat-([0-9]+)/)*(tipo-([a-zA-ZñÑ\s\(\)]+)/)*(ciudad-([a-zA-Z0-9-ñÑ\s]+)/)*$ 			listado.php?id_cat=$3&tipo=$5&ciudad=$7	[L]
RewriteRule   ^(([a-zA-Z0-9-ñÑ]+)-cat-([0-9]+)/)*(ciudad-([a-zA-Z0-9-ñÑ\s]+)/)*(tipo-([a-zA-ZñÑ\s\(\)]+)/)*$ 			listado.php?id_cat=$3&tipo=$7&ciudad=$5	[L]







