RewriteEngine On

RewriteRule   ^$ 		index.php		[L]
RewriteRule   ^([a-zA-Z0-9-ñÑ]+)-anuncio-([0-9]+)$ 		/anuncio/?id=$2		[L]



#RewriteRule   ^([a-zA-Z0-9-ñÑ]+)-gestioncat-([0-9]+)$		listado.php?id_cat=$2	[R]


RewriteRule   ^(([a-zA-Z0-9-ñÑ]+)-cat-([0-9]+)/)*(tipo-([a-zA-ZñÑ\s\(\)]+)/)*(ciudad-([a-zA-Z0-9-ñÑ\s]+)/)*$ 			listado.php?id_cat=$3&tipo=$5&ciudad=$7	[L]
RewriteRule   ^(([a-zA-Z0-9-ñÑ]+)-cat-([0-9]+)/)*(ciudad-([a-zA-Z0-9-ñÑ\s]+)/)*(tipo-([a-zA-ZñÑ\s\(\)]+)/)*$ 			listado.php?id_cat=$3&tipo=$7&ciudad=$5	[L]



